.SignUpPage a {
    color: #459fed;
    text-decoration: none;
}

.SignUpPage .sign-in-text {
    margin-top: 2rem;
    text-align: center;
    color: #000;
    opacity: 0.87
}

.SignUpPage .button-group {
    margin-top: 0.5rem;
}

.SignUpPage .button-group .button {
    flex-grow: 1;
    background-position: center;
    transition: background 0.8s;
    color: #fff;
    background: #3899ec;
}

.SignUpPage .button-group .button:hover {
    background: #3899ec radial-gradient(circle, transparent 1%, #3899ec 1%) center/15000%;
}

.SignUpPage .button-group .button:active {
    background-color: #6cb6f1;
    background-size: 100%;
    transition: background 0s;
}

.SignUpPage .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
