body {
    background-color: #FBF6F3;
    overscroll-behavior-y: none;
}

.App {
    height: calc(100vh - 4rem);
    overflow-y: hidden;
    overflow-x: hidden;
}

.AppShell {
    height: calc(100vh - 4rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.AppShell,
.WCAppFooter {
    margin: auto;
    max-width: 500px;
}
