body {
    background-color: #fff;
}

.App {
    height: calc(100vh - 4rem);
    overflow-y: hidden;
    overflow-x: hidden;
}

.AppShell {
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    overflow-x: hidden;
}
