.WCAppFooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    height: 4rem;
}

.WCAppFooter a {
    text-decoration: none;
    text-align: center;
    color: inherit;
    flex: 1;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
