.StudyCard .remove-button {
    perspective: 600px;
    animation: appear 1s forwards;
}

@keyframes appear {
    0% {
        transform: rotate3d(0,0,1,15deg) translate3d(0,-100vh,0);
    }
    30% {
        transform: rotate3d(0,0,0,0deg) translate3d(0,0,0);
    }
    65% {
        transform: rotate3d(0,0,0,0deg) translate3d(0,0,0) scale3d(1,1,1);
    }
    80% {
        transform: rotate3d(0,0,1,-5deg) scale3d(1.05,1.05,1);
    }
}